














    <div>
        <div class="col-md-6 ">
            <div  class="panel panel-default">
                <div class="panel-body">
                    <h4 class="bold uppercase">
                        <i class="fa fa-bar-chart-o"></i>
                        Pie Chart
                    </h4>
                    <strong>Pie Chart with multiple options that useful for any reports and monitorings. You can hidden label and legend and change style. </strong>
                    <h4></h4>
                    <div class="row">
                        <div class="col-md-8">
                            <div flot dataset="pieData" options="pieChartOptions" height="300" id="pie" class="chart-placeholder"></div>
                        </div>
                        <div class="col-md-4">
                            <div id="menu">
                                <button data-ng-click="example1()" id="example-1" class="btn btn-info btn-block">Default Options</button>
                                <button data-ng-click="example2()" id="example-2" class="btn btn-info btn-block">Without Legend</button>
                                <button data-ng-click="example3()" id="example-3" class="btn btn-info btn-block">Label Formatter</button>
                                <button data-ng-click="example4()" id="example-4" class="btn btn-info btn-block">Label Radius</button>
                                <button data-ng-click="example5()" id="example-5" class="btn btn-info btn-block">Label Styles #1</button>
                                <button data-ng-click="example6()" id="example-6" class="btn btn-info btn-block">Label Styles #2</button>
                                <button data-ng-click="example9()" id="example-9" class="btn btn-info btn-block">Rectangular Pie</button>
                                <button data-ng-click="example10()" id="example-10" class="btn btn-info btn-block">Tilted Pie</button>
                                <button data-ng-click="example11()" id="example-11" class="btn btn-info btn-block">Donut Hole</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div>
        <div class="col-md-6 ">
            <div  class="panel panel-default">
                <div class="panel-body">
                    <h4 class="bold uppercase">
                        <i class="fa fa-bar-chart-o"></i>
                        Pie Chart
                    </h4>
                    <strong>Pie Chart with multiple options that useful for any reports and monitorings. You can hidden label and legend and change style. </strong>
                    <h4></h4>
                    <div class="row">
                        <div class="col-md-8">
                            <div flot dataset="pieData" options="pieChartOptions" height="300" id="pie" class="chart-placeholder"></div>
                        </div>
                        <div class="col-md-4">
                            <div id="menu">
                                <button data-ng-click="example1()" id="example-1" class="btn btn-info btn-block">Default Options</button>
                                <button data-ng-click="example2()" id="example-2" class="btn btn-info btn-block">Without Legend</button>
                                <button data-ng-click="example3()" id="example-3" class="btn btn-info btn-block">Label Formatter</button>
                                <button data-ng-click="example4()" id="example-4" class="btn btn-info btn-block">Label Radius</button>
                                <button data-ng-click="example5()" id="example-5" class="btn btn-info btn-block">Label Styles #1</button>
                                <button data-ng-click="example6()" id="example-6" class="btn btn-info btn-block">Label Styles #2</button>
                                <button data-ng-click="example9()" id="example-9" class="btn btn-info btn-block">Rectangular Pie</button>
                                <button data-ng-click="example10()" id="example-10" class="btn btn-info btn-block">Tilted Pie</button>
                                <button data-ng-click="example11()" id="example-11" class="btn btn-info btn-block">Donut Hole</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>